In [31]:
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd

In [32]:
df = pd.read_csv('/Users/nguyenthaohau/Desktop/National Economic University/NEU 2022-2023 HK01/Data Mining/Exercise chapter 5/Chapter05Exercise.csv')
del df['ReceiptID']
df.head()

,juices,paper_goods,frozen_foods,snack_foods,canned goods,beer_wine_spirits,dairy,breads,produce,desserts,meats
0,1,0,1,0,0,0,0,0,1,0,1
1,1,1,0,0,0,0,1,0,0,1,0
2,1,1,1,0,1,1,1,1,1,1,1
3,0,1,1,0,0,0,0,0,1,1,1
4,0,0,0,1,0,1,0,0,0,0,0

In [33]:
frequent_itemsets = apriori(df, min_support = 0.15, use_colnames = True, verbose = 1)
frequent_itemsets

Processing 33 combinations | Sampling itemset size 3

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                        itemsets
0   0.221293                                        (juices)
1   0.319922                                   (paper_goods)
2   0.338615                                  (frozen_foods)
3   0.336122                                   (snack_foods)
4   0.334698                             (beer_wine_spirits)
5   0.206338                                         (dairy)
6   0.216130                                        (breads)
7   0.336657                                       (produce)
8   0.313156                                      (desserts)
9   0.326331                                         (meats)
10  0.162720                         (desserts, paper_goods)
11  0.188713                     (snack_foods, frozen_foods)
12  0.186220               (frozen_foods, beer_wine_spirits)
13  0.187823                (snack_foods, beer_wine_spirits)
14  0.164145                                (produce, meats)
15  0.155955  (snack_foods, frozen_foods, beer_wine_spirits)

In [34]:
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold=0.55)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(snack_foods),(frozen_foods),0.336122,0.338615,0.188713,0.561441,1.658051,0.074897,1.508086
1,(frozen_foods),(snack_foods),0.338615,0.336122,0.188713,0.557308,1.658051,0.074897,1.499638
2,(beer_wine_spirits),(frozen_foods),0.334698,0.338615,0.186220,0.556383,1.643114,0.072887,1.490892
3,(snack_foods),(beer_wine_spirits),0.336122,0.334698,0.187823,0.558792,1.669541,0.075323,1.507911
4,(beer_wine_spirits),(snack_foods),0.334698,0.336122,0.187823,0.561170,1.669541,0.075323,1.512836

In [35]:
rules[ (rules['confidence'] >= 0.55) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(snack_foods),(frozen_foods),0.336122,0.338615,0.188713,0.561441,1.658051,0.074897,1.508086
1,(frozen_foods),(snack_foods),0.338615,0.336122,0.188713,0.557308,1.658051,0.074897,1.499638
2,(beer_wine_spirits),(frozen_foods),0.334698,0.338615,0.186220,0.556383,1.643114,0.072887,1.490892
3,(snack_foods),(beer_wine_spirits),0.336122,0.334698,0.187823,0.558792,1.669541,0.075323,1.507911
4,(beer_wine_spirits),(snack_foods),0.334698,0.336122,0.187823,0.561170,1.669541,0.075323,1.512836
5,"(snack_foods, frozen_foods)",(beer_wine_spirits),0.188713,0.334698,0.155955,0.826415,2.469135,0.092793,3.832717
6,"(snack_foods, beer_wine_spirits)",(frozen_foods),0.187823,0.338615,0.155955,0.830332,2.452142,0.092356,3.898108
7,"(frozen_foods, beer_wine_spirits)",(snack_foods),0.186220,0.336122,0.155955,0.837476,2.491580,0.093362,4.084799